@use 'src/Variables/Variables.scss'as *;

.transaction-tile {
    margin: 10px 15px;
    border: 2px solid $secondary-color;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr 0.5fr ;

    &__category {
        padding: 10px 25px;
        grid-column: 1;
        grid-row: 2/5;
    }

    &__vendor {
        grid-column: 2;
        grid-row:2;
    }

    &__date {
        grid-column: 2;
        grid-row: 3;
    }

    &__amount {
        padding: 10px 30px;
        grid-column: 3;
        grid-row: 2/5;
        font-weight: bolder;
    }
}