@use "src/Variables/Variables.scss" as *;

.trends {
  margin: 15px 15px 100px;

  &__heading,
  &__date {
    margin: 20px 0px 5px;
  }

  &__buttons {
    display: grid;
    padding-left: 20px ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__spends {
    margin: 15px 15px 5px;
    font-weight: lighter;
  }

  &__comparison {
    margin: 5px 15px 5px;
    font-size: smaller;
    font-weight: lighter;
  }
}
